.db-home-container {
  margin-top: 40px;

  .MuiTypography-h5 {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #252525;
  }

  .MuiTypography-subtitle1 {
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    color: #252525;
  }
}
